# Exclude the HTML files from GitHub's language statistics
# https://github.com/github/linguist#using-gitattributes
* text eol=lf
*.png binary
test/data/**/* text=auto linguist-vendored
benchmark/spec.html linguist-vendored
